* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    background-image: url('First.jpg');
    width: 95%; /* Changed to 100% for full width */
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.head >div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    border: 2px solid white;
flex-direction: column;
margin-top: 10%;
}

.firstheading{
    padding: auto;
    color: white;
}

