* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head {
    background-image: url('First.jpg');
    width: 95%; /* Changed to 100% for full width */
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}


.head >div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
     border: 2px solid white; 
     border-radius: 10% ;
flex-direction: column;
margin-top: 10%;
}

.firstheading{
    padding: auto;
    color: white;
    font-variant-caps: unicase
}


@media screen and (max-width: 480px) {
    .head >div{
        display: flex;
        justify-content: center;
        align-items: center;
     width: auto;
     height: auto;
    }

    .firstheading{
        padding: auto;
        color: white;
        font-size: 27px;
    }

     }

     .linksection ul  {
    display:flex;
    flex-direction: row;
    text-decoration-style: none;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    
     }

     ul li{
     margin-top: -1%;
     color: black;
     font-weight: bold;
     background-color: white;
     padding: 5px;
     }

     @media screen and (max-width: 480px) {
  ul li{
   margin-top:1%;
     }
        }

  /* ??????????????????????????????????????????????????????/ */